.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
terraform.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
/phase2-spoke-vpc2/
/phase3-Transit-Gateway--cross-account-share/
/Phase-4-VPC-endpoints--spoke/
/Phase-5-Connectivity--test/
/Phase-6-Deploy--app-db-rds/
/Phase-7-Expose-it-publicly/
/testing/ 