spoke_vpc_name = "spoke-vpc"

spoke_vpc_cidr = "10.1.0.0/16"

hub_vpc_cidr = "10.0.0.0/16"

aws_region = "ap-south-1"

subnets = {
  private_1 = {
    cidr_block        = "10.1.0.0/24"
    availability_zone = "ap-south-1a"
    public            = false
  }

  private_2 = {
    cidr_block        = "10.1.1.0/24"
    availability_zone = "ap-south-1b"
    public            = false
  }
}

transit_gateway_id = "REPLACE_WITH_TGW_ID"

ram_resource_share_arn = "REPLACE_WITH_RAM_SHARE_ARN"

accept_ram_share_invitation = true

interface_endpoint_services = [
  "ssm",
  "ssmmessages",
  "ec2messages",
  "logs",
  "secretsmanager",
  "kms",
  "sts",
  "ecr.api",
  "ecr.dkr"
]

tags = {
  Project     = "Hub-Spoke"
  Environment = "dev"
}  